@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.media-player {
  background-color: #FCEEF3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(253, 248, 250, 0.658);
  overflow: hidden;
  width: 240px;
  padding: 10px;
  text-align: center;
}

#player {
  display: none;
  /* Hide the video */
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCEEF3;
  padding: 5px;
}

.main-controls {
  display: flex;
  gap: 3px;
}

.control-btn {
  background-color: #FFCCDC;
  border: none;
  color: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-btn:hover {
  color: #FCEEF3;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #FFFFFF;
  position: relative;
  border-radius: 4px;
  margin: 10px 0;
}

.progress-bar-fill {
  height: 100%;
  background-color: #FFCCDC;
  border-radius: 2px;
}

.timestamps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #666666;
  gap: 5px;
}

.volume-slider {
  width: 100px;
  height: 20px;
  transform: rotate(-90deg);
  display: none;
}

.slider {
  width: 100%;
  height: 4px;
  -webkit-appearance: none;
  background-color: #FFCCDC;
  border-radius: 4px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 8px;
  border-radius: 4px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
  background-color: #FFCCDC;
  border-radius: 2px;
}

#shuffleBtn {
  position: relative;
}

#shuffleIcon {
  color: #FFFFFF;
  /* Default color */
}

#shuffleIndicator {
  position: absolute;
  bottom: -4px;
  right: -3px;
  font-size: 8px;
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 2px 3px;
  color: #FFCCDC;
  font-weight: bold;
  display: none;
}


#loopBtn {
  position: relative;
}

#loopIcon {
  color: #FFFFFF;
}

#loopIndicator {
  position: absolute;
  bottom: -4px;
  right: -3px;
  font-size: 8px;
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 2px 3px;
  color: #FFCCDC;
  font-weight: bold;
  display: none;
}

.loop-one-text {
  position: absolute;
  right: 0.8px;
  bottom: -3px;
  font-size: 10px;
}